target/
dist/
project/boot/
project/plugins/project/
project/plugins/src_managed/
*.class
*.log
*.tmproj
lib_managed/
*.swp
*.iml
out/
.ensime
*~
*#
.#*
.ivyjars
.idea
.DS_Store
.scala_dependencies
.classpath
.project
.cache
.settings
.ensime_cache/
